**Exercise 1: Install the latest version of Polars**

**Exercise 2: Import the polars package as `pl`**

**Exercise 3: Display the version of the polars package**

**Exercise 4: Create an empty dataframe and assign it to `data`**

**Exercise 5: Create a dataframe with a column `v1` with integer values from 0 to 9, a column `v2` with values ['Y','O','U','C','A','N','D','O','I','T'] and assign it to `data`**

**Exercise 6: Display `data`**

**Exercise 7: Display the first 5 rows and the last 3 rows of `data`**

**Exercise 8: Display the number of rows and numbers of columns in `data`**

**Exercise 9: Display the shape of the `data`**

**Exercise 10: Display the column names of `data`**