**Exercise 1: Install the latest version of Polars**

In [2]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting polars
  Downloading polars-0.15.1-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.2 MB)
     |████████████████████████████████| 14.2 MB 8.3 MB/s
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from polars) (4.1.1)
Installing collected packages: polars
Successfully installed polars-0.15.1

**Exercise 2: Import the polars package as `pl`**

In [3]:
import polars as pl

**Exercise 3: Display the version of the polars package**

In [4]:
pl.__version__

'0.15.1'

**Exercise 4: Create an empty dataframe and assign it to `data`**

In [5]:
data = pl.DataFrame()

**Exercise 5: Create a dataframe with a column `v1` with integer values from 0 to 9, a column `v2` with values ['Y','O','U','C','A','N','D','O','I','T'] and assign it to `data`**

In [9]:
data = pl.DataFrame(
    {"v1": list(range(10)), 
     "v2":['Y', 'O', 'U', 'C', 'A', 'N', 'D', 'O', 'I', 'T']
    }
)

**Exercise 6: Display `data`**

In [10]:
data

shape: (10, 2)
┌─────┬─────┐
│ v1  ┆ v2  │
│ --- ┆ --- │
│ i64 ┆ str │
╞═════╪═════╡
│ 1   ┆ Y   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 2   ┆ O   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 3   ┆ U   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 4   ┆ C   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ ... ┆ ... │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 7   ┆ D   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 8   ┆ O   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 9   ┆ I   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 10  ┆ T   │
└─────┴─────┘

**Exercise 7: Display the first 5 rows and the last 3 rows of `data`**

In [11]:
data.head(5), data.tail(3)

(shape: (5, 2)
 ┌─────┬─────┐
 │ v1  ┆ v2  │
 │ --- ┆ --- │
 │ i64 ┆ str │
 ╞═════╪═════╡
 │ 1   ┆ Y   │
 ├╌╌╌╌╌┼╌╌╌╌╌┤
 │ 2   ┆ O   │
 ├╌╌╌╌╌┼╌╌╌╌╌┤
 │ 3   ┆ U   │
 ├╌╌╌╌╌┼╌╌╌╌╌┤
 │ 4   ┆ C   │
 ├╌╌╌╌╌┼╌╌╌╌╌┤
 │ 5   ┆ A   │
 └─────┴─────┘, shape: (3, 2)
 ┌─────┬─────┐
 │ v1  ┆ v2  │
 │ --- ┆ --- │
 │ i64 ┆ str │
 ╞═════╪═════╡
 │ 8   ┆ O   │
 ├╌╌╌╌╌┼╌╌╌╌╌┤
 │ 9   ┆ I   │
 ├╌╌╌╌╌┼╌╌╌╌╌┤
 │ 10  ┆ T   │
 └─────┴─────┘)

**Exercise 8: Display the number of rows and numbers of columns in `data`**

In [20]:
data.height, data.width

(10, 2)

**Exercise 9: Display the shape of the `data`**

In [21]:
data.shape

(10, 2)

**Exercise 10: Display the column names of `data`**

In [22]:
data.columns

['v1', 'v2']