This is Set 4: DataFrame Operations (Exercises 31-40) of **Polars Exercises**: 💯 polars exercises
You can find all the exercises and solutions on [GitHub](https://github.com/JustinKurland/polars_practice/tree/main/notebooks)

**Prerequisites**

*   The `polars` package should be upgraded to the latest version (v0.15.1+).
*   The sample dataset [titanic](https://www.openml.org/search?type=data&sort=runs&id=40945&status=active) from openml will be used for the exercises.

In [1]:
!pip install polars
#!wget https://www.openml.org/data/get_csv/16826755/titanic.csv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.8/dist-packages (0.15.2)
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars) (4.1.1)

In [2]:
import polars as pl

data = pl.read_csv('titanic.csv', null_values = '?')
data

shape: (1309, 15)
┌──────┬────────┬──────────┬────────────────────┬─────┬──────────┬──────┬──────┬───────────────────┐
│ id   ┆ pclass ┆ survived ┆ name               ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---  ┆ ---    ┆ ---      ┆ ---                ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64  ┆ i64    ┆ i64      ┆ str                ┆     ┆ str      ┆ str  ┆ i64  ┆ str               │
╞══════╪════════╪══════════╪════════════════════╪═════╪══════════╪══════╪══════╪═══════════════════╡
│ 1    ┆ 1      ┆ 1        ┆ Allen,Miss.        ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis,MO       │
│      ┆        ┆          ┆ Elisabeth Walton   ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2    ┆ 1      ┆ 1        ┆ Allison,Master.    ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Hudson Trevor      ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3    ┆ 1      ┆ 0        ┆ Allison,Miss.      ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Helen Loraine      ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4    ┆ 1      ┆ 0        ┆ Allison,Mr. Hudson ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Joshua Creigh...   ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...    ┆ ...      ┆ ...                ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1306 ┆ 3      ┆ 0        ┆ Zabour,Miss.       ┆ ... ┆ C        ┆ null ┆ null ┆ null              │
│      ┆        ┆          ┆ Thamine            ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1307 ┆ 3      ┆ 0        ┆ Zakarian,Mr.       ┆ ... ┆ C        ┆ null ┆ 304  ┆ null              │
│      ┆        ┆          ┆ Mapriededer        ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1308 ┆ 3      ┆ 0        ┆ Zakarian,Mr. Ortin ┆ ... ┆ C        ┆ null ┆ null ┆ null              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1309 ┆ 3      ┆ 0        ┆ Zimmerman,Mr. Leo  ┆ ... ┆ S        ┆ null ┆ null ┆ null              │
└──────┴────────┴──────────┴────────────────────┴─────┴──────────┴──────┴──────┴───────────────────┘

**Exercise 31: Print all the column names and column types of `data` in `column-name : column-type` format**

In [3]:
for i in range(data.width):
    print(f'{data.columns[i]} : {data.dtypes[i]}')

id : <class 'polars.datatypes.Int64'>
pclass : <class 'polars.datatypes.Int64'>
survived : <class 'polars.datatypes.Int64'>
name : <class 'polars.datatypes.Utf8'>
sex : <class 'polars.datatypes.Utf8'>
age : <class 'polars.datatypes.Float64'>
sibsp : <class 'polars.datatypes.Int64'>
parch : <class 'polars.datatypes.Int64'>
ticket : <class 'polars.datatypes.Utf8'>
fare : <class 'polars.datatypes.Float64'>
cabin : <class 'polars.datatypes.Utf8'>
embarked : <class 'polars.datatypes.Utf8'>
boat : <class 'polars.datatypes.Utf8'>
body : <class 'polars.datatypes.Int64'>
home.dest : <class 'polars.datatypes.Utf8'>

**Exercise 32: Convert the type of column `age` in `data` from `Float64` to `Float32`**

In [4]:
data.with_column((pl.col('age')).cast(pl.Float32, strict=False))

shape: (1309, 15)
┌──────┬────────┬──────────┬────────────────────┬─────┬──────────┬──────┬──────┬───────────────────┐
│ id   ┆ pclass ┆ survived ┆ name               ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---  ┆ ---    ┆ ---      ┆ ---                ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64  ┆ i64    ┆ i64      ┆ str                ┆     ┆ str      ┆ str  ┆ i64  ┆ str               │
╞══════╪════════╪══════════╪════════════════════╪═════╪══════════╪══════╪══════╪═══════════════════╡
│ 1    ┆ 1      ┆ 1        ┆ Allen,Miss.        ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis,MO       │
│      ┆        ┆          ┆ Elisabeth Walton   ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2    ┆ 1      ┆ 1        ┆ Allison,Master.    ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Hudson Trevor      ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3    ┆ 1      ┆ 0        ┆ Allison,Miss.      ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Helen Loraine      ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4    ┆ 1      ┆ 0        ┆ Allison,Mr. Hudson ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Joshua Creigh...   ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...    ┆ ...      ┆ ...                ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1306 ┆ 3      ┆ 0        ┆ Zabour,Miss.       ┆ ... ┆ C        ┆ null ┆ null ┆ null              │
│      ┆        ┆          ┆ Thamine            ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1307 ┆ 3      ┆ 0        ┆ Zakarian,Mr.       ┆ ... ┆ C        ┆ null ┆ 304  ┆ null              │
│      ┆        ┆          ┆ Mapriededer        ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1308 ┆ 3      ┆ 0        ┆ Zakarian,Mr. Ortin ┆ ... ┆ C        ┆ null ┆ null ┆ null              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1309 ┆ 3      ┆ 0        ┆ Zimmerman,Mr. Leo  ┆ ... ┆ S        ┆ null ┆ null ┆ null              │
└──────┴────────┴──────────┴────────────────────┴─────┴──────────┴──────┴──────┴───────────────────┘

**Exercise 33: Rename the column `home.dest` in `data` to `address`**

In [5]:
data.names = data.rename({'home.dest': 'address'})
data.names

shape: (1309, 15)
┌──────┬────────┬──────────┬────────────────────┬─────┬──────────┬──────┬──────┬───────────────────┐
│ id   ┆ pclass ┆ survived ┆ name               ┆ ... ┆ embarked ┆ boat ┆ body ┆ address           │
│ ---  ┆ ---    ┆ ---      ┆ ---                ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64  ┆ i64    ┆ i64      ┆ str                ┆     ┆ str      ┆ str  ┆ i64  ┆ str               │
╞══════╪════════╪══════════╪════════════════════╪═════╪══════════╪══════╪══════╪═══════════════════╡
│ 1    ┆ 1      ┆ 1        ┆ Allen,Miss.        ┆ ... ┆ S        ┆ 2    ┆ null ┆ St Louis,MO       │
│      ┆        ┆          ┆ Elisabeth Walton   ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2    ┆ 1      ┆ 1        ┆ Allison,Master.    ┆ ... ┆ S        ┆ 11   ┆ null ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Hudson Trevor      ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3    ┆ 1      ┆ 0        ┆ Allison,Miss.      ┆ ... ┆ S        ┆ null ┆ null ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Helen Loraine      ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4    ┆ 1      ┆ 0        ┆ Allison,Mr. Hudson ┆ ... ┆ S        ┆ null ┆ 135  ┆ Montreal,PQ /     │
│      ┆        ┆          ┆ Joshua Creigh...   ┆     ┆          ┆      ┆      ┆ Chesterville,ON   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...    ┆ ...      ┆ ...                ┆ ... ┆ ...      ┆ ...  ┆ ...  ┆ ...               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1306 ┆ 3      ┆ 0        ┆ Zabour,Miss.       ┆ ... ┆ C        ┆ null ┆ null ┆ null              │
│      ┆        ┆          ┆ Thamine            ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1307 ┆ 3      ┆ 0        ┆ Zakarian,Mr.       ┆ ... ┆ C        ┆ null ┆ 304  ┆ null              │
│      ┆        ┆          ┆ Mapriededer        ┆     ┆          ┆      ┆      ┆                   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1308 ┆ 3      ┆ 0        ┆ Zakarian,Mr. Ortin ┆ ... ┆ C        ┆ null ┆ null ┆ null              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1309 ┆ 3      ┆ 0        ┆ Zimmerman,Mr. Leo  ┆ ... ┆ S        ┆ null ┆ null ┆ null              │
└──────┴────────┴──────────┴────────────────────┴─────┴──────────┴──────┴──────┴───────────────────┘

**Exercise 34: Sort `data` in descending order of `fare`**

In [6]:
data= data.sort('fare', reverse=True)
data.head()

shape: (5, 15)
┌─────┬────────┬──────────┬────────────────────┬─────┬──────────┬──────┬──────┬────────────────────┐
│ id  ┆ pclass ┆ survived ┆ name               ┆ ... ┆ embarked ┆ boat ┆ body ┆ home.dest          │
│ --- ┆ ---    ┆ ---      ┆ ---                ┆     ┆ ---      ┆ ---  ┆ ---  ┆ ---                │
│ i64 ┆ i64    ┆ i64      ┆ str                ┆     ┆ str      ┆ str  ┆ i64  ┆ str                │
╞═════╪════════╪══════════╪════════════════════╪═════╪══════════╪══════╪══════╪════════════════════╡
│ 50  ┆ 1      ┆ 1        ┆ Cardeza,Mr. Thomas ┆ ... ┆ C        ┆ 3    ┆ null ┆ Austria-Hungary /  │
│     ┆        ┆          ┆ Drake Martine...   ┆     ┆          ┆      ┆      ┆ Germantown,Phi...  │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 51  ┆ 1      ┆ 1        ┆ Cardeza,Mrs. James ┆ ... ┆ C        ┆ 3    ┆ null ┆ Germantown,Philade │
│     ┆        ┆          ┆ Warburton Mar...   ┆     ┆          ┆      ┆      ┆ lphia,PA           │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 184 ┆ 1      ┆ 1        ┆ Lesurer,Mr.        ┆ ... ┆ C        ┆ 3    ┆ null ┆ null               │
│     ┆        ┆          ┆ Gustave J          ┆     ┆          ┆      ┆      ┆                    │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 303 ┆ 1      ┆ 1        ┆ Ward,Miss. Anna    ┆ ... ┆ C        ┆ 3    ┆ null ┆ null               │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 112 ┆ 1      ┆ 1        ┆ Fortune,Miss.      ┆ ... ┆ S        ┆ 10   ┆ null ┆ Winnipeg,MB        │
│     ┆        ┆          ┆ Alice Elizabeth    ┆     ┆          ┆      ┆      ┆                    │
└─────┴────────┴──────────┴────────────────────┴─────┴──────────┴──────┴──────┴────────────────────┘

**Exercise 35: Create a column `deck` in `data` containing only the first character of `cabin`**

In [7]:
data = data.with_column(pl.col('cabin').str.slice(0, length=1).alias('deck'))
data.head()

shape: (5, 16)
┌─────┬────────┬──────────┬──────────────────────┬─────┬──────┬──────┬──────────────────────┬──────┐
│ id  ┆ pclass ┆ survived ┆ name                 ┆ ... ┆ boat ┆ body ┆ home.dest            ┆ deck │
│ --- ┆ ---    ┆ ---      ┆ ---                  ┆     ┆ ---  ┆ ---  ┆ ---                  ┆ ---  │
│ i64 ┆ i64    ┆ i64      ┆ str                  ┆     ┆ str  ┆ i64  ┆ str                  ┆ str  │
╞═════╪════════╪══════════╪══════════════════════╪═════╪══════╪══════╪══════════════════════╪══════╡
│ 50  ┆ 1      ┆ 1        ┆ Cardeza,Mr. Thomas   ┆ ... ┆ 3    ┆ null ┆ Austria-Hungary /    ┆ B    │
│     ┆        ┆          ┆ Drake Martine...     ┆     ┆      ┆      ┆ Germantown,Phi...    ┆      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 51  ┆ 1      ┆ 1        ┆ Cardeza,Mrs. James   ┆ ... ┆ 3    ┆ null ┆ Germantown,Philadelp ┆ B    │
│     ┆        ┆          ┆ Warburton Mar...     ┆     ┆      ┆      ┆ hia,PA               ┆      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 184 ┆ 1      ┆ 1        ┆ Lesurer,Mr. Gustave  ┆ ... ┆ 3    ┆ null ┆ null                 ┆ B    │
│     ┆        ┆          ┆ J                    ┆     ┆      ┆      ┆                      ┆      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 303 ┆ 1      ┆ 1        ┆ Ward,Miss. Anna      ┆ ... ┆ 3    ┆ null ┆ null                 ┆ null │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 112 ┆ 1      ┆ 1        ┆ Fortune,Miss. Alice  ┆ ... ┆ 10   ┆ null ┆ Winnipeg,MB          ┆ C    │
│     ┆        ┆          ┆ Elizabeth            ┆     ┆      ┆      ┆                      ┆      │
└─────┴────────┴──────────┴──────────────────────┴─────┴──────┴──────┴──────────────────────┴──────┘

**Exercise 36: Create a column `family` in `data` which is the sum of two columns `sibsp` and `parch`**

In [8]:
pl.Config.with_columns_kwargs = True
data = data.with_columns(family=pl.col('sibsp') + pl.col('parch'))
data.head()

shape: (5, 17)
┌─────┬────────┬──────────┬─────────────────────┬─────┬──────┬─────────────────────┬──────┬────────┐
│ id  ┆ pclass ┆ survived ┆ name                ┆ ... ┆ body ┆ home.dest           ┆ deck ┆ family │
│ --- ┆ ---    ┆ ---      ┆ ---                 ┆     ┆ ---  ┆ ---                 ┆ ---  ┆ ---    │
│ i64 ┆ i64    ┆ i64      ┆ str                 ┆     ┆ i64  ┆ str                 ┆ str  ┆ i64    │
╞═════╪════════╪══════════╪═════════════════════╪═════╪══════╪═════════════════════╪══════╪════════╡
│ 50  ┆ 1      ┆ 1        ┆ Cardeza,Mr. Thomas  ┆ ... ┆ null ┆ Austria-Hungary /   ┆ B    ┆ 1      │
│     ┆        ┆          ┆ Drake Martine...    ┆     ┆      ┆ Germantown,Phi...   ┆      ┆        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 51  ┆ 1      ┆ 1        ┆ Cardeza,Mrs. James  ┆ ... ┆ null ┆ Germantown,Philadel ┆ B    ┆ 1      │
│     ┆        ┆          ┆ Warburton Mar...    ┆     ┆      ┆ phia,PA             ┆      ┆        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 184 ┆ 1      ┆ 1        ┆ Lesurer,Mr. Gustave ┆ ... ┆ null ┆ null                ┆ B    ┆ 0      │
│     ┆        ┆          ┆ J                   ┆     ┆      ┆                     ┆      ┆        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 303 ┆ 1      ┆ 1        ┆ Ward,Miss. Anna     ┆ ... ┆ null ┆ null                ┆ null ┆ 0      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 112 ┆ 1      ┆ 1        ┆ Fortune,Miss. Alice ┆ ... ┆ null ┆ Winnipeg,MB         ┆ C    ┆ 5      │
│     ┆        ┆          ┆ Elizabeth           ┆     ┆      ┆                     ┆      ┆        │
└─────┴────────┴──────────┴─────────────────────┴─────┴──────┴─────────────────────┴──────┴────────┘

**Exercise 37: Create a column `total_passengers` in `data` which is the sum of `family` and the passenger included and round the values of column `age` in `data` to the nearest integer**

In [9]:
data = data.with_columns([( pl.col('family')+1).alias("total_passengers"),
                   (pl.col('age').round(0))])
data

shape: (1309, 18)
┌──────┬────────┬──────────┬────────────────┬─────┬────────────────┬──────┬────────┬───────────────┐
│ id   ┆ pclass ┆ survived ┆ name           ┆ ... ┆ home.dest      ┆ deck ┆ family ┆ total_passeng │
│ ---  ┆ ---    ┆ ---      ┆ ---            ┆     ┆ ---            ┆ ---  ┆ ---    ┆ ers           │
│ i64  ┆ i64    ┆ i64      ┆ str            ┆     ┆ str            ┆ str  ┆ i64    ┆ ---           │
│      ┆        ┆          ┆                ┆     ┆                ┆      ┆        ┆ i64           │
╞══════╪════════╪══════════╪════════════════╪═════╪════════════════╪══════╪════════╪═══════════════╡
│ 50   ┆ 1      ┆ 1        ┆ Cardeza,Mr.    ┆ ... ┆ Austria-Hungar ┆ B    ┆ 1      ┆ 2             │
│      ┆        ┆          ┆ Thomas Drake   ┆     ┆ y / Germantown ┆      ┆        ┆               │
│      ┆        ┆          ┆ Martine...     ┆     ┆ ,Phi...        ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 51   ┆ 1      ┆ 1        ┆ Cardeza,Mrs.   ┆ ... ┆ Germantown,Phi ┆ B    ┆ 1      ┆ 2             │
│      ┆        ┆          ┆ James          ┆     ┆ ladelphia,PA   ┆      ┆        ┆               │
│      ┆        ┆          ┆ Warburton      ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Mar...         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 184  ┆ 1      ┆ 1        ┆ Lesurer,Mr.    ┆ ... ┆ null           ┆ B    ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Gustave J      ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 303  ┆ 1      ┆ 1        ┆ Ward,Miss.     ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Anna           ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...    ┆ ...      ┆ ...            ┆ ... ┆ ...            ┆ ...  ┆ ...    ┆ ...           │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 899  ┆ 3      ┆ 0        ┆ Johnson,Mr.    ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ William        ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Cahoone Jr     ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 964  ┆ 3      ┆ 0        ┆ Leonard,Mr.    ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Lionel         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1255 ┆ 3      ┆ 1        ┆ Tornquist,Mr.  ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ William Henry  ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1226 ┆ 3      ┆ 0        ┆ Storey,Mr.     ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Thomas         ┆     ┆                ┆      ┆        ┆               │
└──────┴────────┴──────────┴────────────────┴─────┴────────────────┴──────┴────────┴───────────────┘

**Exercise 38: Delete the used columns `sibsp` and `parch` and the first and last rows from `data`**

In [10]:
data = data.drop(['sibsp', 'parch'])
data.head()

shape: (5, 16)
┌─────┬────────┬──────────┬────────────────┬─────┬────────────────┬──────┬────────┬────────────────┐
│ id  ┆ pclass ┆ survived ┆ name           ┆ ... ┆ home.dest      ┆ deck ┆ family ┆ total_passenge │
│ --- ┆ ---    ┆ ---      ┆ ---            ┆     ┆ ---            ┆ ---  ┆ ---    ┆ rs             │
│ i64 ┆ i64    ┆ i64      ┆ str            ┆     ┆ str            ┆ str  ┆ i64    ┆ ---            │
│     ┆        ┆          ┆                ┆     ┆                ┆      ┆        ┆ i64            │
╞═════╪════════╪══════════╪════════════════╪═════╪════════════════╪══════╪════════╪════════════════╡
│ 50  ┆ 1      ┆ 1        ┆ Cardeza,Mr.    ┆ ... ┆ Austria-Hungar ┆ B    ┆ 1      ┆ 2              │
│     ┆        ┆          ┆ Thomas Drake   ┆     ┆ y / Germantown ┆      ┆        ┆                │
│     ┆        ┆          ┆ Martine...     ┆     ┆ ,Phi...        ┆      ┆        ┆                │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 51  ┆ 1      ┆ 1        ┆ Cardeza,Mrs.   ┆ ... ┆ Germantown,Phi ┆ B    ┆ 1      ┆ 2              │
│     ┆        ┆          ┆ James          ┆     ┆ ladelphia,PA   ┆      ┆        ┆                │
│     ┆        ┆          ┆ Warburton      ┆     ┆                ┆      ┆        ┆                │
│     ┆        ┆          ┆ Mar...         ┆     ┆                ┆      ┆        ┆                │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 184 ┆ 1      ┆ 1        ┆ Lesurer,Mr.    ┆ ... ┆ null           ┆ B    ┆ 0      ┆ 1              │
│     ┆        ┆          ┆ Gustave J      ┆     ┆                ┆      ┆        ┆                │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 303 ┆ 1      ┆ 1        ┆ Ward,Miss.     ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1              │
│     ┆        ┆          ┆ Anna           ┆     ┆                ┆      ┆        ┆                │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 112 ┆ 1      ┆ 1        ┆ Fortune,Miss.  ┆ ... ┆ Winnipeg,MB    ┆ C    ┆ 5      ┆ 6              │
│     ┆        ┆          ┆ Alice          ┆     ┆                ┆      ┆        ┆                │
│     ┆        ┆          ┆ Elizabeth      ┆     ┆                ┆      ┆        ┆                │
└─────┴────────┴──────────┴────────────────┴─────┴────────────────┴──────┴────────┴────────────────┘

In [11]:
data = data[1:1308, :]
data

shape: (1307, 16)
┌──────┬────────┬──────────┬────────────────┬─────┬────────────────┬──────┬────────┬───────────────┐
│ id   ┆ pclass ┆ survived ┆ name           ┆ ... ┆ home.dest      ┆ deck ┆ family ┆ total_passeng │
│ ---  ┆ ---    ┆ ---      ┆ ---            ┆     ┆ ---            ┆ ---  ┆ ---    ┆ ers           │
│ i64  ┆ i64    ┆ i64      ┆ str            ┆     ┆ str            ┆ str  ┆ i64    ┆ ---           │
│      ┆        ┆          ┆                ┆     ┆                ┆      ┆        ┆ i64           │
╞══════╪════════╪══════════╪════════════════╪═════╪════════════════╪══════╪════════╪═══════════════╡
│ 51   ┆ 1      ┆ 1        ┆ Cardeza,Mrs.   ┆ ... ┆ Germantown,Phi ┆ B    ┆ 1      ┆ 2             │
│      ┆        ┆          ┆ James          ┆     ┆ ladelphia,PA   ┆      ┆        ┆               │
│      ┆        ┆          ┆ Warburton      ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Mar...         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 184  ┆ 1      ┆ 1        ┆ Lesurer,Mr.    ┆ ... ┆ null           ┆ B    ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Gustave J      ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 303  ┆ 1      ┆ 1        ┆ Ward,Miss.     ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Anna           ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 112  ┆ 1      ┆ 1        ┆ Fortune,Miss.  ┆ ... ┆ Winnipeg,MB    ┆ C    ┆ 5      ┆ 6             │
│      ┆        ┆          ┆ Alice          ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Elizabeth      ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...    ┆ ...      ┆ ...            ┆ ... ┆ ...            ┆ ...  ┆ ...    ┆ ...           │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 897  ┆ 3      ┆ 0        ┆ Johnson,Mr.    ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Alfred         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 899  ┆ 3      ┆ 0        ┆ Johnson,Mr.    ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ William        ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Cahoone Jr     ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 964  ┆ 3      ┆ 0        ┆ Leonard,Mr.    ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Lionel         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1255 ┆ 3      ┆ 1        ┆ Tornquist,Mr.  ┆ ... ┆ null           ┆ null ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ William Henry  ┆     ┆                ┆      ┆        ┆               │
└──────┴────────┴──────────┴────────────────┴─────┴────────────────┴──────┴────────┴───────────────┘

**Exercise 39: Replace all string `null` values with `NA` as missing values in `data`**

In [12]:
data = data.fill_null('NA')
data

shape: (1307, 16)
┌──────┬────────┬──────────┬────────────────┬─────┬────────────────┬──────┬────────┬───────────────┐
│ id   ┆ pclass ┆ survived ┆ name           ┆ ... ┆ home.dest      ┆ deck ┆ family ┆ total_passeng │
│ ---  ┆ ---    ┆ ---      ┆ ---            ┆     ┆ ---            ┆ ---  ┆ ---    ┆ ers           │
│ i64  ┆ i64    ┆ i64      ┆ str            ┆     ┆ str            ┆ str  ┆ i64    ┆ ---           │
│      ┆        ┆          ┆                ┆     ┆                ┆      ┆        ┆ i64           │
╞══════╪════════╪══════════╪════════════════╪═════╪════════════════╪══════╪════════╪═══════════════╡
│ 51   ┆ 1      ┆ 1        ┆ Cardeza,Mrs.   ┆ ... ┆ Germantown,Phi ┆ B    ┆ 1      ┆ 2             │
│      ┆        ┆          ┆ James          ┆     ┆ ladelphia,PA   ┆      ┆        ┆               │
│      ┆        ┆          ┆ Warburton      ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Mar...         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 184  ┆ 1      ┆ 1        ┆ Lesurer,Mr.    ┆ ... ┆ NA             ┆ B    ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Gustave J      ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 303  ┆ 1      ┆ 1        ┆ Ward,Miss.     ┆ ... ┆ NA             ┆ NA   ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Anna           ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 112  ┆ 1      ┆ 1        ┆ Fortune,Miss.  ┆ ... ┆ Winnipeg,MB    ┆ C    ┆ 5      ┆ 6             │
│      ┆        ┆          ┆ Alice          ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Elizabeth      ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...    ┆ ...      ┆ ...            ┆ ... ┆ ...            ┆ ...  ┆ ...    ┆ ...           │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 897  ┆ 3      ┆ 0        ┆ Johnson,Mr.    ┆ ... ┆ NA             ┆ NA   ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Alfred         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 899  ┆ 3      ┆ 0        ┆ Johnson,Mr.    ┆ ... ┆ NA             ┆ NA   ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ William        ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Cahoone Jr     ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 964  ┆ 3      ┆ 0        ┆ Leonard,Mr.    ┆ ... ┆ NA             ┆ NA   ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Lionel         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1255 ┆ 3      ┆ 1        ┆ Tornquist,Mr.  ┆ ... ┆ NA             ┆ NA   ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ William Henry  ┆     ┆                ┆      ┆        ┆               │
└──────┴────────┴──────────┴────────────────┴─────┴────────────────┴──────┴────────┴───────────────┘

**Exercise 40: Impute all the missing values in `data` with `-1` for numeric columns and `'unknown'` for string columns**

In [13]:
data = data.fill_null(-1)
data

shape: (1307, 16)
┌──────┬────────┬──────────┬────────────────┬─────┬────────────────┬──────┬────────┬───────────────┐
│ id   ┆ pclass ┆ survived ┆ name           ┆ ... ┆ home.dest      ┆ deck ┆ family ┆ total_passeng │
│ ---  ┆ ---    ┆ ---      ┆ ---            ┆     ┆ ---            ┆ ---  ┆ ---    ┆ ers           │
│ i64  ┆ i64    ┆ i64      ┆ str            ┆     ┆ str            ┆ str  ┆ i64    ┆ ---           │
│      ┆        ┆          ┆                ┆     ┆                ┆      ┆        ┆ i64           │
╞══════╪════════╪══════════╪════════════════╪═════╪════════════════╪══════╪════════╪═══════════════╡
│ 51   ┆ 1      ┆ 1        ┆ Cardeza,Mrs.   ┆ ... ┆ Germantown,Phi ┆ B    ┆ 1      ┆ 2             │
│      ┆        ┆          ┆ James          ┆     ┆ ladelphia,PA   ┆      ┆        ┆               │
│      ┆        ┆          ┆ Warburton      ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Mar...         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 184  ┆ 1      ┆ 1        ┆ Lesurer,Mr.    ┆ ... ┆ NA             ┆ B    ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Gustave J      ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 303  ┆ 1      ┆ 1        ┆ Ward,Miss.     ┆ ... ┆ NA             ┆ NA   ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Anna           ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 112  ┆ 1      ┆ 1        ┆ Fortune,Miss.  ┆ ... ┆ Winnipeg,MB    ┆ C    ┆ 5      ┆ 6             │
│      ┆        ┆          ┆ Alice          ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Elizabeth      ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...    ┆ ...      ┆ ...            ┆ ... ┆ ...            ┆ ...  ┆ ...    ┆ ...           │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 897  ┆ 3      ┆ 0        ┆ Johnson,Mr.    ┆ ... ┆ NA             ┆ NA   ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Alfred         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 899  ┆ 3      ┆ 0        ┆ Johnson,Mr.    ┆ ... ┆ NA             ┆ NA   ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ William        ┆     ┆                ┆      ┆        ┆               │
│      ┆        ┆          ┆ Cahoone Jr     ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 964  ┆ 3      ┆ 0        ┆ Leonard,Mr.    ┆ ... ┆ NA             ┆ NA   ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ Lionel         ┆     ┆                ┆      ┆        ┆               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1255 ┆ 3      ┆ 1        ┆ Tornquist,Mr.  ┆ ... ┆ NA             ┆ NA   ┆ 0      ┆ 1             │
│      ┆        ┆          ┆ William Henry  ┆     ┆                ┆      ┆        ┆               │
└──────┴────────┴──────────┴────────────────┴─────┴────────────────┴──────┴────────┴───────────────┘

In [14]:
data = data.with_column(pl.col(data.select(pl.col(pl.Utf8)).columns).str.replace_all("NA","unknown"))
data

shape: (1307, 16)
┌──────┬────────┬──────────┬───────────────┬─────┬───────────────┬─────────┬────────┬──────────────┐
│ id   ┆ pclass ┆ survived ┆ name          ┆ ... ┆ home.dest     ┆ deck    ┆ family ┆ total_passen │
│ ---  ┆ ---    ┆ ---      ┆ ---           ┆     ┆ ---           ┆ ---     ┆ ---    ┆ gers         │
│ i64  ┆ i64    ┆ i64      ┆ str           ┆     ┆ str           ┆ str     ┆ i64    ┆ ---          │
│      ┆        ┆          ┆               ┆     ┆               ┆         ┆        ┆ i64          │
╞══════╪════════╪══════════╪═══════════════╪═════╪═══════════════╪═════════╪════════╪══════════════╡
│ 51   ┆ 1      ┆ 1        ┆ Cardeza,Mrs.  ┆ ... ┆ Germantown,Ph ┆ B       ┆ 1      ┆ 2            │
│      ┆        ┆          ┆ James         ┆     ┆ iladelphia,PA ┆         ┆        ┆              │
│      ┆        ┆          ┆ Warburton     ┆     ┆               ┆         ┆        ┆              │
│      ┆        ┆          ┆ Mar...        ┆     ┆               ┆         ┆        ┆              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 184  ┆ 1      ┆ 1        ┆ Lesurer,Mr.   ┆ ... ┆ unknown       ┆ B       ┆ 0      ┆ 1            │
│      ┆        ┆          ┆ Gustave J     ┆     ┆               ┆         ┆        ┆              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 303  ┆ 1      ┆ 1        ┆ Ward,Miss.    ┆ ... ┆ unknown       ┆ unknown ┆ 0      ┆ 1            │
│      ┆        ┆          ┆ Anna          ┆     ┆               ┆         ┆        ┆              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 112  ┆ 1      ┆ 1        ┆ Fortune,Miss. ┆ ... ┆ Winnipeg,MB   ┆ C       ┆ 5      ┆ 6            │
│      ┆        ┆          ┆ Alice         ┆     ┆               ┆         ┆        ┆              │
│      ┆        ┆          ┆ Elizabeth     ┆     ┆               ┆         ┆        ┆              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...    ┆ ...      ┆ ...           ┆ ... ┆ ...           ┆ ...     ┆ ...    ┆ ...          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 897  ┆ 3      ┆ 0        ┆ Johnson,Mr.   ┆ ... ┆ unknown       ┆ unknown ┆ 0      ┆ 1            │
│      ┆        ┆          ┆ Alfred        ┆     ┆               ┆         ┆        ┆              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 899  ┆ 3      ┆ 0        ┆ Johnson,Mr.   ┆ ... ┆ unknown       ┆ unknown ┆ 0      ┆ 1            │
│      ┆        ┆          ┆ William       ┆     ┆               ┆         ┆        ┆              │
│      ┆        ┆          ┆ Cahoone Jr    ┆     ┆               ┆         ┆        ┆              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 964  ┆ 3      ┆ 0        ┆ Leonard,Mr.   ┆ ... ┆ unknown       ┆ unknown ┆ 0      ┆ 1            │
│      ┆        ┆          ┆ Lionel        ┆     ┆               ┆         ┆        ┆              │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1255 ┆ 3      ┆ 1        ┆ Tornquist,Mr. ┆ ... ┆ unknown       ┆ unknown ┆ 0      ┆ 1            │
│      ┆        ┆          ┆ William Henry ┆     ┆               ┆         ┆        ┆              │
└──────┴────────┴──────────┴───────────────┴─────┴───────────────┴─────────┴────────┴──────────────┘