This is Set 7: Multiple Frames (Exercises 61-70) of Polars Exercises: 💯 polars exercises You can find all the exercises and solutions on [GitHub](https://github.com/JustinKurland/polars_practice)

**Prerequisites**

The `polars` package should be upgraded to the latest version (v0.15.1+).

*   The `polars` package should be upgraded to the latest version (v0.15.1+).
*   The sample dataset [polars_sample.zip](https://github.com/JustinKurland/polars_practice/blob/main/data/polars_sample.zip) will be used for the exercises.

In [1]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting polars
  Downloading polars-0.15.8-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.6 MB)
     |████████████████████████████████| 14.6 MB 5.2 MB/s
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars) (4.4.0)
Installing collected packages: polars
Successfully installed polars-0.15.8

In [2]:
import polars as pl
from zipfile import ZipFile

**Exercise 61: Read all the files together from polars_sample.zip, and assign the list of frames to `data`**

In [3]:
data = list([pl.read_csv(ZipFile('polars_sample.zip').open(i)) for i in ZipFile('polars_sample.zip').namelist()])
data

[shape: (9, 7)
 ┌──────────┬───────────────────────┬─────────────┬───────┬──────────┬──────────┬───────┐
 │ Order ID ┆ Category              ┆ Category ID ┆ Sales ┆ Quantity ┆ Discount ┆ Month │
 │ ---      ┆ ---                   ┆ ---         ┆ ---   ┆ ---      ┆ ---      ┆ ---   │
 │ f64      ┆ str                   ┆ i64         ┆ i64   ┆ i64      ┆ f64      ┆ str   │
 ╞══════════╪═══════════════════════╪═════════════╪═══════╪══════════╪══════════╪═══════╡
 │ 2.1      ┆ Flowers               ┆ 1004        ┆ 75    ┆ 15       ┆ 0.2      ┆ Feb   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 2.2      ┆ International Cuisine ┆ 1005        ┆ 65    ┆ 23       ┆ 0.2      ┆ Feb   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 2.3      ┆ Paper Products        ┆ 1006        ┆ 115   ┆ 100      ┆ 0.8      ┆ Feb   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 2.4      ┆ Gift cards            ┆ 1005        ┆ 236   ┆ 565      ┆ 0.2      ┆ Feb   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ ...      ┆ ...                   ┆ ...         ┆ ...   ┆ ...      ┆ ...      ┆ ...   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 2.6      ┆ Pharmacy              ┆ 1008        ┆ 45    ┆ 9        ┆ 0.0      ┆ Feb   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 2.7      ┆ Grocery               ┆ 1009        ┆ 12    ┆ 9        ┆ 0.0      ┆ Feb   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 2.8      ┆ Pet Care              ┆ 1007        ┆ 56    ┆ 2        ┆ 0.0      ┆ Feb   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 2.9      ┆ Pharmacy              ┆ 1008        ┆ 300   ┆ 10       ┆ 0.5      ┆ Feb   │
 └──────────┴───────────────────────┴─────────────┴───────┴──────────┴──────────┴───────┘,
 shape: (0, 1)
 ┌─────────────────────┐
 │     Mac OS X            	  ... │
 │ ---                 │
 │ str                 │
 ╞═════════════════════╡
 └─────────────────────┘,
 shape: (9, 7)
 ┌──────────┬─────────────┬─────────────┬─────────┬──────────┬──────────┬───────┐
 │ Order ID ┆ Category    ┆ Category ID ┆ Sales   ┆ Quantity ┆ Discount ┆ Month │
 │ ---      ┆ ---         ┆ ---         ┆ ---     ┆ ---      ┆ ---      ┆ ---   │
 │ f64      ┆ str         ┆ i64         ┆ f64     ┆ i64      ┆ f64      ┆ str   │
 ╞══════════╪═════════════╪═════════════╪═════════╪══════════╪══════════╪═══════╡
 │ 1.1      ┆ Apparels    ┆ 1001        ┆ 89.0    ┆ 2        ┆ 0.2      ┆ Jan   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 1.2      ┆ Electronics ┆ 1003        ┆ 65.0    ┆ 87       ┆ 0.2      ┆ Jan   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 1.3      ┆ Cosmetics   ┆ 1002        ┆ 272.74  ┆ 3        ┆ 0.2      ┆ Jan   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 1.4      ┆ Apparels    ┆ 1001        ┆ 3.54    ┆ 2        ┆ 0.8      ┆ Jan   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ ...      ┆ ...         ┆ ...         ┆ ...     ┆ ...      ┆ ...      ┆ ...   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 1.6      ┆ Electronics ┆ 1003        ┆ 19.44   ┆ 3        ┆ 0.0      ┆ Jan   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 1.7      ┆ Apparels    ┆ 1001        ┆ 12.78   ┆ 3        ┆ 0.0      ┆ Jan   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 1.8      ┆ Apparels    ┆ 1001        ┆ 2573.82 ┆ 9        ┆ 0.0      ┆ Jan   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 1.9      ┆ Apparels    ┆ 1001        ┆ 300.0   ┆ 10       ┆ 0.5      ┆ Jan   │
 └──────────┴─────────────┴─────────────┴─────────┴──────────┴──────────┴───────┘,
 shape: (0, 1)
 ┌─────────────────────┐
 │     Mac OS X            	  ... │
 │ ---                 │
 │ str                 │
 ╞═════════════════════╡
 └─────────────────────┘,
 shape: (9, 7)
 ┌──────────┬───────────────────────┬─────────────┬────────┬──────────┬──────────┬───────┐
 │ Order ID ┆ Category              ┆ Category ID ┆ Sales  ┆ Quantity ┆ Discount ┆ Month │
 │ ---      ┆ ---                   ┆ ---         ┆ ---    ┆ ---      ┆ ---      ┆ ---   │
 │ f64      ┆ str                   ┆ i64         ┆ f64    ┆ i64      ┆ f64      ┆ str   │
 ╞══════════╪═══════════════════════╪═════════════╪════════╪══════════╪══════════╪═══════╡
 │ 3.1      ┆ Flowers               ┆ 1004        ┆ 32.0   ┆ 45       ┆ 0.3      ┆ March │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 3.2      ┆ International Cuisine ┆ 1005        ┆ 160.0  ┆ 4        ┆ 0.2      ┆ March │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 3.3      ┆ Pet Care              ┆ 1009        ┆ 130.0  ┆ 89       ┆ 0.3      ┆ March │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 3.4      ┆ International Cuisine ┆ 1005        ┆ 3.5    ┆ 12       ┆ 0.9      ┆ March │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ ...      ┆ ...                   ┆ ...         ┆ ...    ┆ ...      ┆ ...      ┆ ...   │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 3.6      ┆ Flowers               ┆ 1004        ┆ 16.0   ┆ 78       ┆ 0.0      ┆ March │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 3.7      ┆ Paper Products        ┆ 1006        ┆ 89.0   ┆ 3        ┆ 0.5      ┆ March │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 3.8      ┆ Pharmacy              ┆ 1008        ┆ 2573.8 ┆ 1        ┆ 0.0      ┆ March │
 ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
 │ 3.9      ┆ Apparels              ┆ 1003        ┆ 610.0  ┆ 2        ┆ 0.5      ┆ March │
 └──────────┴───────────────────────┴─────────────┴────────┴──────────┴──────────┴───────┘,
 shape: (0, 1)
 ┌─────────────────────┐
 │     Mac OS X            	  ... │
 │ ---                 │
 │ str                 │
 ╞═════════════════════╡
 └─────────────────────┘,
 shape: (27, 4)
 ┌───────────────────┬──────────┬─────────────────────────────────────┬───────────┐
 │ Number of Records ┆ Order ID ┆ Updated Order Returns               ┆ Return ID │
 │ ---               ┆ ---      ┆ ---                                 ┆ ---       │
 │ i64               ┆ f64      ┆ str                                 ┆ str       │
 ╞═══════════════════╪══════════╪═════════════════════════════════════╪═══════════╡
 │ 1                 ┆ 1.1      ┆ Inaccurate                          ┆ R001      │
 ├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
 │ 10                ┆ 1.2      ┆ Late Delivery                       ┆ R002      │
 ├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
 │ 1                 ┆ 1.3      ┆ Product Damaged                     ┆ R003      │
 ├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
 │ 1                 ┆ 1.4      ┆ Incorrect Products Delivered        ┆ R004      │
 ├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
 │ ...               ┆ ...      ┆ ...                                 ┆ ...       │
 ├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
 │ 16                ┆ 3.6      ┆ Description Inaccurate              ┆ R005      │
 ├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
 │ 2                 ┆ 3.7      ┆ Customer Dissatified With Produc... ┆ R006      │
 ├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
 │ 5                 ┆ 3.8      ┆ Customer Dissatified                ┆ R007      │
 ├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
 │ 2                 ┆ 3.9      ┆ Inaccurate                          ┆ R001      │
 └───────────────────┴──────────┴─────────────────────────────────────┴───────────┘,
 shape: (0, 1)
 ┌─────────────────────┐
 │     Mac OS X            	  ... │
 │ ---                 │
 │ str                 │
 ╞═════════════════════╡
 └─────────────────────┘,
 shape: (14, 4)
 ┌─────────┬─────────────┬───────────┬─────────┐
 │ Person  ┆ Category ID ┆ Return ID ┆ Region  │
 │ ---     ┆ ---         ┆ ---       ┆ ---     │
 │ str     ┆ i64         ┆ str       ┆ str     │
 ╞═════════╪═════════════╪═══════════╪═════════╡
 │ Amy     ┆ 1001        ┆ R004      ┆ West    │
 ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
 │ Max     ┆ 1002        ┆ R001      ┆ East    │
 ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
 │ William ┆ 1007        ┆ R003      ┆ Central │
 ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
 │ Nancy   ┆ 1004        ┆ R006      ┆ South   │
 ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
 │ ...     ┆ ...         ┆ ...       ┆ ...     │
 ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
 │ Perez   ┆ 1001        ┆ R001      ┆ East    │
 ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
 │ Lewis   ┆ 1003        ┆ R001      ┆ South   │
 ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
 │ Monica  ┆ 1005        ┆ R002      ┆ West    │
 ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
 │ Carla   ┆ 1001        ┆ R007      ┆ East    │
 └─────────┴─────────────┴───────────┴─────────┘,
 shape: (0, 1)
 ┌─────────────────────┐
 │     Mac OS X            	  ... │
 │ ---                 │
 │ str                 │
 ╞═════════════════════╡
 └─────────────────────┘]

**Exercise 62: Assign the dataframes in data to individual frames `orders_jan`, `orders_feb`, `orders_mar`, `returns` and `users` respectively and display the head of each dataframe**

In [4]:
orders_jan = data[2]
orders_jan.head()

shape: (5, 7)
┌──────────┬─────────────┬─────────────┬────────┬──────────┬──────────┬───────┐
│ Order ID ┆ Category    ┆ Category ID ┆ Sales  ┆ Quantity ┆ Discount ┆ Month │
│ ---      ┆ ---         ┆ ---         ┆ ---    ┆ ---      ┆ ---      ┆ ---   │
│ f64      ┆ str         ┆ i64         ┆ f64    ┆ i64      ┆ f64      ┆ str   │
╞══════════╪═════════════╪═════════════╪════════╪══════════╪══════════╪═══════╡
│ 1.1      ┆ Apparels    ┆ 1001        ┆ 89.0   ┆ 2        ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 1.2      ┆ Electronics ┆ 1003        ┆ 65.0   ┆ 87       ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 1.3      ┆ Cosmetics   ┆ 1002        ┆ 272.74 ┆ 3        ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 1.4      ┆ Apparels    ┆ 1001        ┆ 3.54   ┆ 2        ┆ 0.8      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 1.5      ┆ Cosmetics   ┆ 1002        ┆ 19.54  ┆ 3        ┆ 0.2      ┆ Jan   │
└──────────┴─────────────┴─────────────┴────────┴──────────┴──────────┴───────┘

In [5]:
orders_feb = data[0]
orders_feb = orders_feb.with_column(pl.col('Sales').cast(pl.Float64, strict=False))
orders_feb.head()

shape: (5, 7)
┌──────────┬───────────────────────┬─────────────┬───────┬──────────┬──────────┬───────┐
│ Order ID ┆ Category              ┆ Category ID ┆ Sales ┆ Quantity ┆ Discount ┆ Month │
│ ---      ┆ ---                   ┆ ---         ┆ ---   ┆ ---      ┆ ---      ┆ ---   │
│ f64      ┆ str                   ┆ i64         ┆ f64   ┆ i64      ┆ f64      ┆ str   │
╞══════════╪═══════════════════════╪═════════════╪═══════╪══════════╪══════════╪═══════╡
│ 2.1      ┆ Flowers               ┆ 1004        ┆ 75.0  ┆ 15       ┆ 0.2      ┆ Feb   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 2.2      ┆ International Cuisine ┆ 1005        ┆ 65.0  ┆ 23       ┆ 0.2      ┆ Feb   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 2.3      ┆ Paper Products        ┆ 1006        ┆ 115.0 ┆ 100      ┆ 0.8      ┆ Feb   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 2.4      ┆ Gift cards            ┆ 1005        ┆ 236.0 ┆ 565      ┆ 0.2      ┆ Feb   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 2.5      ┆ Pet Care              ┆ 1007        ┆ 78.0  ┆ 8        ┆ 0.0      ┆ Feb   │
└──────────┴───────────────────────┴─────────────┴───────┴──────────┴──────────┴───────┘

In [6]:
orders_mar = data[4]
orders_mar.head()

shape: (5, 7)
┌──────────┬───────────────────────┬─────────────┬───────┬──────────┬──────────┬───────┐
│ Order ID ┆ Category              ┆ Category ID ┆ Sales ┆ Quantity ┆ Discount ┆ Month │
│ ---      ┆ ---                   ┆ ---         ┆ ---   ┆ ---      ┆ ---      ┆ ---   │
│ f64      ┆ str                   ┆ i64         ┆ f64   ┆ i64      ┆ f64      ┆ str   │
╞══════════╪═══════════════════════╪═════════════╪═══════╪══════════╪══════════╪═══════╡
│ 3.1      ┆ Flowers               ┆ 1004        ┆ 32.0  ┆ 45       ┆ 0.3      ┆ March │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 3.2      ┆ International Cuisine ┆ 1005        ┆ 160.0 ┆ 4        ┆ 0.2      ┆ March │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 3.3      ┆ Pet Care              ┆ 1009        ┆ 130.0 ┆ 89       ┆ 0.3      ┆ March │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 3.4      ┆ International Cuisine ┆ 1005        ┆ 3.5   ┆ 12       ┆ 0.9      ┆ March │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 3.5      ┆ Paper Products        ┆ 1006        ┆ 35.0  ┆ 4        ┆ 0.2      ┆ March │
└──────────┴───────────────────────┴─────────────┴───────┴──────────┴──────────┴───────┘

In [7]:
returns = data[6]
returns.head()

shape: (5, 4)
┌───────────────────┬──────────┬──────────────────────────────┬───────────┐
│ Number of Records ┆ Order ID ┆ Updated Order Returns        ┆ Return ID │
│ ---               ┆ ---      ┆ ---                          ┆ ---       │
│ i64               ┆ f64      ┆ str                          ┆ str       │
╞═══════════════════╪══════════╪══════════════════════════════╪═══════════╡
│ 1                 ┆ 1.1      ┆ Inaccurate                   ┆ R001      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 10                ┆ 1.2      ┆ Late Delivery                ┆ R002      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1                 ┆ 1.3      ┆ Product Damaged              ┆ R003      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1                 ┆ 1.4      ┆ Incorrect Products Delivered ┆ R004      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 8                 ┆ 1.5      ┆ Description Inaccurate       ┆ R005      │
└───────────────────┴──────────┴──────────────────────────────┴───────────┘

In [8]:
users = data[8]
users.head()

shape: (5, 4)
┌──────────┬─────────────┬───────────┬─────────┐
│ Person   ┆ Category ID ┆ Return ID ┆ Region  │
│ ---      ┆ ---         ┆ ---       ┆ ---     │
│ str      ┆ i64         ┆ str       ┆ str     │
╞══════════╪═════════════╪═══════════╪═════════╡
│ Amy      ┆ 1001        ┆ R004      ┆ West    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ Max      ┆ 1002        ┆ R001      ┆ East    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ William  ┆ 1007        ┆ R003      ┆ Central │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ Nancy    ┆ 1004        ┆ R006      ┆ South   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ Isabella ┆ 1001        ┆ R006      ┆ West    │
└──────────┴─────────────┴───────────┴─────────┘

**Exercise 63: Append all rows of `orders_jan`, `orders_feb` and `orders_mar` into a single frame and assign it to `orders_all`**

In [9]:
orders_all = pl.concat([orders_jan, orders_feb, orders_mar])
orders_all.head()

shape: (5, 7)
┌──────────┬─────────────┬─────────────┬────────┬──────────┬──────────┬───────┐
│ Order ID ┆ Category    ┆ Category ID ┆ Sales  ┆ Quantity ┆ Discount ┆ Month │
│ ---      ┆ ---         ┆ ---         ┆ ---    ┆ ---      ┆ ---      ┆ ---   │
│ f64      ┆ str         ┆ i64         ┆ f64    ┆ i64      ┆ f64      ┆ str   │
╞══════════╪═════════════╪═════════════╪════════╪══════════╪══════════╪═══════╡
│ 1.1      ┆ Apparels    ┆ 1001        ┆ 89.0   ┆ 2        ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 1.2      ┆ Electronics ┆ 1003        ┆ 65.0   ┆ 87       ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 1.3      ┆ Cosmetics   ┆ 1002        ┆ 272.74 ┆ 3        ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 1.4      ┆ Apparels    ┆ 1001        ┆ 3.54   ┆ 2        ┆ 0.8      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 1.5      ┆ Cosmetics   ┆ 1002        ┆ 19.54  ┆ 3        ┆ 0.2      ┆ Jan   │
└──────────┴─────────────┴─────────────┴────────┴──────────┴──────────┴───────┘

**Exercise 64: Join `orders_all` to `returns` on `Order ID` and assign it to `sales`**

In [10]:
sales = returns.join(orders_all, on="Order ID")
sales.head()

shape: (5, 10)
┌───────────┬──────────┬──────────────────┬───────────┬─────┬────────┬──────────┬──────────┬───────┐
│ Number of ┆ Order ID ┆ Updated Order    ┆ Return ID ┆ ... ┆ Sales  ┆ Quantity ┆ Discount ┆ Month │
│ Records   ┆ ---      ┆ Returns          ┆ ---       ┆     ┆ ---    ┆ ---      ┆ ---      ┆ ---   │
│ ---       ┆ f64      ┆ ---              ┆ str       ┆     ┆ f64    ┆ i64      ┆ f64      ┆ str   │
│ i64       ┆          ┆ str              ┆           ┆     ┆        ┆          ┆          ┆       │
╞═══════════╪══════════╪══════════════════╪═══════════╪═════╪════════╪══════════╪══════════╪═══════╡
│ 1         ┆ 1.1      ┆ Inaccurate       ┆ R001      ┆ ... ┆ 89.0   ┆ 2        ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 10        ┆ 1.2      ┆ Late Delivery    ┆ R002      ┆ ... ┆ 65.0   ┆ 87       ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 1         ┆ 1.3      ┆ Product Damaged  ┆ R003      ┆ ... ┆ 272.74 ┆ 3        ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 1         ┆ 1.4      ┆ Incorrect        ┆ R004      ┆ ... ┆ 3.54   ┆ 2        ┆ 0.8      ┆ Jan   │
│           ┆          ┆ Products         ┆           ┆     ┆        ┆          ┆          ┆       │
│           ┆          ┆ Delivered        ┆           ┆     ┆        ┆          ┆          ┆       │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ 8         ┆ 1.5      ┆ Description      ┆ R005      ┆ ... ┆ 19.54  ┆ 3        ┆ 0.2      ┆ Jan   │
│           ┆          ┆ Inaccurate       ┆           ┆     ┆        ┆          ┆          ┆       │
└───────────┴──────────┴──────────────────┴───────────┴─────┴────────┴──────────┴──────────┴───────┘

**Exercise 65: Update `users` by joining `sales` to it on `Return ID` and `Category ID`**

In [11]:
sales = users.join(sales, on=["Category ID", "Return ID"])
sales.head()

shape: (5, 12)
┌──────────┬─────────────┬───────────┬─────────┬─────┬────────┬──────────┬──────────┬───────┐
│ Person   ┆ Category ID ┆ Return ID ┆ Region  ┆ ... ┆ Sales  ┆ Quantity ┆ Discount ┆ Month │
│ ---      ┆ ---         ┆ ---       ┆ ---     ┆     ┆ ---    ┆ ---      ┆ ---      ┆ ---   │
│ str      ┆ i64         ┆ str       ┆ str     ┆     ┆ f64    ┆ i64      ┆ f64      ┆ str   │
╞══════════╪═════════════╪═══════════╪═════════╪═════╪════════╪══════════╪══════════╪═══════╡
│ Perez    ┆ 1001        ┆ R001      ┆ East    ┆ ... ┆ 89.0   ┆ 2        ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Kimi     ┆ 1003        ┆ R002      ┆ East    ┆ ... ┆ 65.0   ┆ 87       ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Lando    ┆ 1002        ┆ R003      ┆ Central ┆ ... ┆ 272.74 ┆ 3        ┆ 0.2      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Amy      ┆ 1001        ┆ R004      ┆ West    ┆ ... ┆ 3.54   ┆ 2        ┆ 0.8      ┆ Jan   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Isabella ┆ 1001        ┆ R006      ┆ West    ┆ ... ┆ 12.78  ┆ 3        ┆ 0.0      ┆ Jan   │
└──────────┴─────────────┴───────────┴─────────┴─────┴────────┴──────────┴──────────┴───────┘

**Exercise 66: Display the Categories that had orders in `Jan` or `Mar`**

In [19]:
pl.concat([orders_jan['Category'], orders_mar['Category']]).unique()

shape: (8,)
Series: 'Category' [str]
[
	"Cosmetics"
	"Paper Products...
	"International ...
	"Apparels"
	"Flowers"
	"Electronics"
	"Pet Care"
	"Pharmacy"
]

**Exercise 67: Display the Categories that had orders in each of the three months**

In [41]:
set(orders_jan['Category']).intersection(set(orders_feb['Category'])).intersection(set(orders_mar['Category']))

set()

**Exercise 68: Display the Categories that had orders only in `Jan` but not in `Feb` and `Mar`**

In [42]:
set(orders_jan['Category']).difference(set(orders_feb['Category'])).difference(set(orders_mar['Category']))

{'Cosmetics', 'Electronics'}

**Exercise 69: Display the Categories that had orders in any of the three months but never together**

In [43]:
set(orders_jan['Category']).symmetric_difference(set(orders_feb['Category'])).symmetric_difference(set(orders_mar['Category']))

{'Cosmetics', 'Electronics', 'Gift cards', 'Grocery'}

**Exercise 70: One-hot encode the column `Region` in `users`, assign it to `ohe_region` and append it back to `users`**

In [46]:
ohe_region = users['Region'].to_dummies()
ohe_region

shape: (14, 4)
┌────────────────┬─────────────┬──────────────┬─────────────┐
│ Region_Central ┆ Region_East ┆ Region_South ┆ Region_West │
│ ---            ┆ ---         ┆ ---          ┆ ---         │
│ u8             ┆ u8          ┆ u8           ┆ u8          │
╞════════════════╪═════════════╪══════════════╪═════════════╡
│ 0              ┆ 0           ┆ 0            ┆ 1           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0              ┆ 1           ┆ 0            ┆ 0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1              ┆ 0           ┆ 0            ┆ 0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0              ┆ 0           ┆ 1            ┆ 0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...            ┆ ...         ┆ ...          ┆ ...         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0              ┆ 1           ┆ 0            ┆ 0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0              ┆ 0           ┆ 1            ┆ 0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0              ┆ 0           ┆ 0            ┆ 1           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0              ┆ 1           ┆ 0            ┆ 0           │
└────────────────┴─────────────┴──────────────┴─────────────┘

In [48]:
users = pl.concat([users, ohe_region], how="horizontal")
users

shape: (14, 8)
┌─────────┬───────────┬───────────┬─────────┬────────────┬──────────────┬────────────┬─────────────┐
│ Person  ┆ Category  ┆ Return ID ┆ Region  ┆ Region_Cen ┆ Region_East  ┆ Region_Sou ┆ Region_West │
│ ---     ┆ ID        ┆ ---       ┆ ---     ┆ tral       ┆ ---          ┆ th         ┆ ---         │
│ str     ┆ ---       ┆ str       ┆ str     ┆ ---        ┆ u8           ┆ ---        ┆ u8          │
│         ┆ i64       ┆           ┆         ┆ u8         ┆              ┆ u8         ┆             │
╞═════════╪═══════════╪═══════════╪═════════╪════════════╪══════════════╪════════════╪═════════════╡
│ Amy     ┆ 1001      ┆ R004      ┆ West    ┆ 0          ┆ 0            ┆ 0          ┆ 1           │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Max     ┆ 1002      ┆ R001      ┆ East    ┆ 0          ┆ 1            ┆ 0          ┆ 0           │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ William ┆ 1007      ┆ R003      ┆ Central ┆ 1          ┆ 0            ┆ 0          ┆ 0           │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Nancy   ┆ 1004      ┆ R006      ┆ South   ┆ 0          ┆ 0            ┆ 1          ┆ 0           │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...     ┆ ...       ┆ ...       ┆ ...     ┆ ...        ┆ ...          ┆ ...        ┆ ...         │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Perez   ┆ 1001      ┆ R001      ┆ East    ┆ 0          ┆ 1            ┆ 0          ┆ 0           │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Lewis   ┆ 1003      ┆ R001      ┆ South   ┆ 0          ┆ 0            ┆ 1          ┆ 0           │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Monica  ┆ 1005      ┆ R002      ┆ West    ┆ 0          ┆ 0            ┆ 0          ┆ 1           │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Carla   ┆ 1001      ┆ R007      ┆ East    ┆ 0          ┆ 1            ┆ 0          ┆ 0           │
└─────────┴───────────┴───────────┴─────────┴────────────┴──────────────┴────────────┴─────────────┘