This is Set 8: Time Series (Exercises 71-80) of Polars Exercises: 💯 polars exercises You can find all the exercises and solutions on [GitHub](https://github.com/JustinKurland/polars_practice)

**Prerequisites**

*   The polars package should be upgraded to the latest version (v0.15.1+).
*   The sample dataset [polars_sample.csv](https://github.com/JustinKurland/polars_practice/blob/main/data/polars_sample.csv) will be used for the exercises.

In [1]:
!pip install polars
!wget https://raw.githubusercontent.com/JustinKurland/polars_practice/blob/main/data/polars_sample.csv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.8/dist-packages (0.15.8)
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars) (4.4.0)
--2022-12-23 10:57:52--  https://raw.githubusercontent.com/JustinKurland/polars_practice/blob/main/data/polars_sample.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2022-12-23 10:57:52 ERROR 404: Not Found.

In [2]:
import polars as pl

data = pl.read_csv('polars_sample.csv', parse_dates = True)
data.drop(['age','category'])
data

shape: (20, 7)
┌─────────────────────┬──────┬──────┬─────────┬──────────┬───────┬──────────┐
│ timestamp           ┆ user ┆ age  ┆ product ┆ category ┆ price ┆ quantity │
│ ---                 ┆ ---  ┆ ---  ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ datetime[μs]        ┆ str  ┆ i64  ┆ str     ┆ str      ┆ f64   ┆ i64      │
╞═════════════════════╪══════╪══════╪═════════╪══════════╪═══════╪══════════╡
│ 2017-01-01 13:22:41 ┆ U1   ┆ 21   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2017-05-22 09:54:21 ┆ U2   ┆ 41   ┆ Bread   ┆ NA       ┆ 0.6   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-11-09 15:00:01 ┆ U3   ┆ null ┆ Banana  ┆ Fruit    ┆ 0.7   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2018-12-24 23:03:33 ┆ U1   ┆ 21   ┆ Water   ┆ Drink    ┆ 0.2   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...                 ┆ ...  ┆ ...  ┆ ...     ┆ ...      ┆ ...   ┆ ...      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-02-03 01:14:40 ┆ U5   ┆ 25   ┆ Eggs    ┆ Dairy    ┆ 2.1   ┆ 4        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-05-26 22:42:15 ┆ U3   ┆ null ┆ Bread   ┆ NA       ┆ 0.6   ┆ 1        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-06-14 15:49:28 ┆ U4   ┆ 19   ┆ Eggs    ┆ Dairy    ┆ 2.3   ┆ 2        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2021-07-01 04:37:31 ┆ U4   ┆ 19   ┆ Water   ┆ Drink    ┆ 0.3   ┆ 1        │
└─────────────────────┴──────┴──────┴─────────┴──────────┴───────┴──────────┘

**Exercise 71: Extract the `date` from `timestamp` and add it as a column `date` in `data`**

**Exercise 72: Extract the `year`, `month`, `day` and `day-of-week` from `date` and add them as new columns `year`, `month`, `day` and `day_of_week` in `data`**

**Exercise 73: Extract the `hour`, `minute` and `second` from `timestamp` and add them as new columns `hour`, `minute` and `second` in `data`**

**Exercise 74: Create a date column `date_new` in `data` using the `year`, `month` and `day` columns**

**Exercise 75: Create a time column `time_new` in data using the `year`, `month`, `day`, `hour`, `minute` and `second` columns**

**Exercise 76: Create a lead variable of `product` with shift of 2 called `next_product_2` in data**

**Exercise 77: Create a lag variable of `date` with single shift called `previous_date` in data**

**Exercise 78: Create a lag variable of `timestamp` by `user` with single shift called `previous_user_time` in data**

**Exercise 79: Create a column `date_diff` which is the difference between `date` and `previous_date` in days**

**Exercise 80: Create a column `time_diff` which is the difference between `timestamp` and `previous_user_time` in seconds**