This is Set 9: XGBoost with Polars (Exercises 81-90) of Polars Exercises: ğŸ’¯ polars exercises You can find all the exercises and solutions on [GitHub](https://github.com/JustinKurland/polars_practice)

**Prerequisites**

*   The polars package should be upgraded to the latest version (v0.15.1+).
*   The sample dataset [1% sample of KDD Cup 2012 (CTR Prediction)](https://www.openml.org/search?type=data&sort=runs&id=1219&status=active) from openml will be used for the exercises.

In [1]:
!pip install polars
!pip install xgboost
!wget https://www.openml.org/data/get_csv/183151/kdd_ctr.csv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.8/dist-packages (0.15.14)
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars) (4.4.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.8/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from xgboost) (1.21.6)
--2023-01-08 16:53:38--  https://www.openml.org/data/get_csv/183151/kdd_ctr.csv
Resolving www.openml.org (www.openml.org)... 131.155.11.11
Connecting to www.openml.org (www.openml.org)|131.155.11.11|:443... connected.
HTTP request sent, awaiting response... 307 Temporary Redirect
Location: https://api.openml.org/data/get_csv/183151/kdd_ctr.csv [following]
--2023-01-08 16:53:39--  https://api.openml.org/data/get_csv/183151/kdd_ctr.csv
Resolving api.openml.org (api.openml.org)... 131.155.11.11
Connecting to api.openml.org (api.openml.org)|131.155.11.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/plain]
Saving to: â€˜kdd_ctr.csv.1â€™

kdd_ctr.csv.1           [         <=>        ]  27.50M  16.4MB/s    in 1.7s

2023-01-08 16:53:41 (16.4 MB/s) - â€˜kdd_ctr.csv.1â€™ saved [28837031]

In [2]:
import polars as pl

data = pl.read_csv('kdd_ctr.csv')
data

shape: (399482, 12)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ click â”† impression â”† url_hash  â”† ad_id    â”† ... â”† keyword_id â”† title_id â”† descriptio â”† user_id  â”‚
â”‚ ---   â”† ---        â”† ---       â”† ---      â”†     â”† ---        â”† ---      â”† n_id       â”† ---      â”‚
â”‚ i64   â”† i64        â”† f64       â”† i64      â”†     â”† i64        â”† i64      â”† ---        â”† i64      â”‚
â”‚       â”†            â”†           â”†          â”†     â”†            â”†          â”† i64        â”†          â”‚
â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 0     â”† 1          â”† 1.0710e19 â”† 8343295  â”† ... â”† 21264      â”† 27892    â”† 1559       â”† 0        â”‚
â”‚ 1     â”† 1          â”† 1.7364e19 â”† 20017077 â”† ... â”† 35498      â”† 4        â”† 36476      â”† 562934   â”‚
â”‚ 0     â”† 1          â”† 8.9155e18 â”† 21348354 â”† ... â”† 19975      â”† 36105    â”† 33292      â”† 11621116 â”‚
â”‚ 0     â”† 1          â”† 4.4267e18 â”† 20366086 â”† ... â”† 5942       â”† 4057     â”† 4390       â”† 8778348  â”‚
â”‚ ...   â”† ...        â”† ...       â”† ...      â”† ... â”† ...        â”† ...      â”† ...        â”† ...      â”‚
â”‚ 0     â”† 1          â”† 1.7364e19 â”† 20017083 â”† ... â”† 1645       â”† 1418     â”† 1678       â”† 10027694 â”‚
â”‚ 1     â”† 2          â”† 5.8513e18 â”† 10421215 â”† ... â”† 3230       â”† 512144   â”† 37399      â”† 0        â”‚
â”‚ 0     â”† 1          â”† 5.8800e18 â”† 4832693  â”† ... â”† 3054       â”† 167005   â”† 55548      â”† 0        â”‚
â”‚ 0     â”† 1          â”† 1.4340e19 â”† 4757453  â”† ... â”† 10394      â”† 179968   â”† 152955     â”† 75532    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

**Exercise 81: Initialize a `XGBoost` model**

In [3]:
import xgboost as xgb

model = xgb.XGBClassifier(objective='binary:logistic')
model

XGBClassifier()

**Exercise 82: Display the hyperparameters of xgboost model**

In [4]:
model.get_xgb_params()

{'base_score': 0.5,
 'booster': 'gbtree',
 'colsample_bylevel': 1,
 'colsample_bynode': 1,
 'colsample_bytree': 1,
 'gamma': 0,
 'learning_rate': 0.1,
 'max_delta_step': 0,
 'max_depth': 3,
 'min_child_weight': 1,
 'missing': None,
 'n_estimators': 100,
 'nthread': 1,
 'objective': 'binary:logistic',
 'reg_alpha': 0,
 'reg_lambda': 1,
 'scale_pos_weight': 1,
 'seed': 0,
 'subsample': 1,
 'verbosity': 1}

**Exercise 83: Split `data` into `train_data` consisting of the first 75% of rows and `valid_data` consisting of the last 25% of rows**

In [5]:
data.shape

(399482, 12)

In [6]:
train_data = data.limit(round(data.height*.75))
train_data.shape

(299612, 12)

In [7]:
valid_data = data[(train_data.height):(data.height), :]
valid_data.shape

(99870, 12)

**Exercise 84: Assign the target variable `click` to `train_target` from `train_data` and `valid_target` from `valid_data` and drop the columns `url_hash` and `click` from `train_data` and `valid_data`**

In [8]:
train_target = train_data['click']
train_target.head()

shape: (10,)
Series: 'click' [i64]
[
	0
	1
	0
	0
	0
	1
	0
	0
	0
	1
]

In [9]:
valid_target = valid_data['click']
valid_target.head()

shape: (10,)
Series: 'click' [i64]
[
	0
	0
	0
	0
	1
	0
	0
	0
	0
	1
]

In [10]:
train_data = train_data.drop(["url_hash", "click"])
train_data.head()

shape: (5, 10)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ impression â”† ad_id    â”† advertiser â”† depth â”† ... â”† keyword_id â”† title_id â”† descriptio â”† user_id  â”‚
â”‚ ---        â”† ---      â”† _id        â”† ---   â”†     â”† ---        â”† ---      â”† n_id       â”† ---      â”‚
â”‚ i64        â”† i64      â”† ---        â”† i64   â”†     â”† i64        â”† i64      â”† ---        â”† i64      â”‚
â”‚            â”†          â”† i64        â”†       â”†     â”†            â”†          â”† i64        â”†          â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1          â”† 8343295  â”† 11700      â”† 3     â”† ... â”† 21264      â”† 27892    â”† 1559       â”† 0        â”‚
â”‚ 1          â”† 20017077 â”† 23798      â”† 1     â”† ... â”† 35498      â”† 4        â”† 36476      â”† 562934   â”‚
â”‚ 1          â”† 21348354 â”† 36654      â”† 1     â”† ... â”† 19975      â”† 36105    â”† 33292      â”† 11621116 â”‚
â”‚ 1          â”† 20366086 â”† 33280      â”† 3     â”† ... â”† 5942       â”† 4057     â”† 4390       â”† 8778348  â”‚
â”‚ 1          â”† 6803526  â”† 10790      â”† 2     â”† ... â”† 60593      â”† 25242    â”† 1679       â”† 12118311 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [11]:
valid_data = valid_data.drop(["url_hash", "click"])
valid_data.head()

shape: (5, 10)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ impression â”† ad_id    â”† advertiser â”† depth â”† ... â”† keyword_id â”† title_id â”† descriptio â”† user_id  â”‚
â”‚ ---        â”† ---      â”† _id        â”† ---   â”†     â”† ---        â”† ---      â”† n_id       â”† ---      â”‚
â”‚ i64        â”† i64      â”† ---        â”† i64   â”†     â”† i64        â”† i64      â”† ---        â”† i64      â”‚
â”‚            â”†          â”† i64        â”†       â”†     â”†            â”†          â”† i64        â”†          â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1          â”† 21104237 â”† 29683      â”† 2     â”† ... â”† 11495      â”† 43449    â”† 1704       â”† 11631003 â”‚
â”‚ 1          â”† 21162526 â”† 1325       â”† 2     â”† ... â”† 10         â”† 24       â”† 25         â”† 2220103  â”‚
â”‚ 1          â”† 9027613  â”† 23808      â”† 2     â”† ... â”† 692        â”† 138      â”† 198        â”† 11428948 â”‚
â”‚ 1          â”† 21866030 â”† 385        â”† 3     â”† ... â”† 742504     â”† 2551939  â”† 1725632    â”† 1927769  â”‚
â”‚ 1          â”† 10397715 â”† 27354      â”† 3     â”† ... â”† 15602      â”† 675726   â”† 315253     â”† 340926   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

**Exercise 85: Train the xgboost `model` using `train_data` and `train_target`**

In [12]:
model.fit(train_data.to_pandas(), train_target)
model

XGBClassifier()

**Exercise 86: Assign the feature importances of model to `model_fimp`**

In [13]:
model_fimp = pl.concat([pl.DataFrame(pl.Series(model.get_booster().feature_names).alias("Features")), 
                        pl.DataFrame(pl.Series(model.feature_importances_).alias('Importances'))], 
                        how = "horizontal")
model_fimp

shape: (10, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Features       â”† Importances â”‚
â”‚ ---            â”† ---         â”‚
â”‚ str            â”† f32         â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ impression     â”† 0.156713    â”‚
â”‚ ad_id          â”† 0.076684    â”‚
â”‚ advertiser_id  â”† 0.067882    â”‚
â”‚ depth          â”† 0.081832    â”‚
â”‚ ...            â”† ...         â”‚
â”‚ keyword_id     â”† 0.07408     â”‚
â”‚ title_id       â”† 0.03829     â”‚
â”‚ description_id â”† 0.021889    â”‚
â”‚ user_id        â”† 0.117974    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

**Exercise 87: Use `model` to predict on `valid_data` and assign the predictions to `preds_model`**

In [14]:
preds_model = pl.DataFrame(model.predict_proba(valid_data.to_pandas()))
names = ['false_prob','true_prob']
preds_model.columns = preds_model.columns[:0]+names
preds_model

shape: (99870, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ false_prob â”† true_prob â”‚
â”‚ ---        â”† ---       â”‚
â”‚ f32        â”† f32       â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 0.875104   â”† 0.124896  â”‚
â”‚ 0.69045    â”† 0.30955   â”‚
â”‚ 0.707572   â”† 0.292429  â”‚
â”‚ 0.528831   â”† 0.471169  â”‚
â”‚ ...        â”† ...       â”‚
â”‚ 0.797256   â”† 0.202744  â”‚
â”‚ 0.827997   â”† 0.172003  â”‚
â”‚ 0.972408   â”† 0.027592  â”‚
â”‚ 0.920548   â”† 0.079452  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

**Exercise 88: Calculate the logloss of `preds_model` with `valid_target`**

In [15]:
preds = pl.concat([preds_model, pl.DataFrame(valid_target)], how = 'horizontal')
preds = preds.rename({"click": "true_label"})
preds

shape: (99870, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ false_prob â”† true_prob â”† true_label â”‚
â”‚ ---        â”† ---       â”† ---        â”‚
â”‚ f32        â”† f32       â”† i64        â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 0.875104   â”† 0.124896  â”† 0          â”‚
â”‚ 0.69045    â”† 0.30955   â”† 0          â”‚
â”‚ 0.707572   â”† 0.292429  â”† 0          â”‚
â”‚ 0.528831   â”† 0.471169  â”† 0          â”‚
â”‚ ...        â”† ...       â”† ...        â”‚
â”‚ 0.797256   â”† 0.202744  â”† 0          â”‚
â”‚ 0.827997   â”† 0.172003  â”† 1          â”‚
â”‚ 0.972408   â”† 0.027592  â”† 0          â”‚
â”‚ 0.920548   â”† 0.079452  â”† 0          â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [16]:
import polars as pl

def logloss(df):
    """ Compute the logarithmic loss between the actual labels and the predicted probabilities.
    
    Parameters
    ----------
    df : polars.DataFrame
        A DataFrame with columns 'true_label', 'false_prob', and 'true_prob'.
        
    Returns
    -------
    polars.DataFrame
        A DataFrame with the logarithmic loss.
    """
    logloss = (((preds.select(pl.col(['true_label'])) *\
                 preds.select(pl.col(['true_prob']).log()) +\
               ((preds.select(pl.col(['true_label'])))-1) * ((preds.select(pl.col(['true_label'])))-1) *\
                 preds.select(pl.col(['false_prob']).log()))*-1)\
                .mean())
    
    logloss = logloss.select(pl.col(['true_label']).alias('logloss'))

    return logloss

In [17]:
logloss(preds)

shape: (1, 1)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ logloss  â”‚
â”‚ ---      â”‚
â”‚ f64      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 0.408759 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

**Exercise 89: Calculate the precision and recall of a new `label_model` that returns a crisp class (i.e, 0 or 1) rather than a pseudo-probability leveraging the `valid_target`**

In [18]:
label_model = pl.DataFrame(model.predict(valid_data.to_pandas()))
names = ['predicted_label']
label_model.columns = label_model.columns[:0]+names
label_model

label = pl.concat([label_model, pl.DataFrame(valid_target)], how = 'horizontal')
label = label.rename({"click": "true_label"})
label

shape: (99870, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ predicted_label â”† true_label â”‚
â”‚ ---             â”† ---        â”‚
â”‚ i64             â”† i64        â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 0               â”† 0          â”‚
â”‚ 0               â”† 0          â”‚
â”‚ 0               â”† 0          â”‚
â”‚ 0               â”† 0          â”‚
â”‚ ...             â”† ...        â”‚
â”‚ 0               â”† 0          â”‚
â”‚ 0               â”† 1          â”‚
â”‚ 0               â”† 0          â”‚
â”‚ 0               â”† 0          â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [19]:
import polars as pl

def precision_recall(df):
    """ Calculate precision and recall from a DataFrame with columns for true labels and predicted labels.
    
    Parameters
    ----------
    df : polars.DataFrame
        A DataFrame with columns 'true_label' and 'predicted_label'.
        
    Returns
    -------
    polars.DataFrame
        A DataFrame with the logarithmic loss.
    """
    true_positives  = (df.filter((pl.col("true_label") == 1) & (pl.col("predicted_label") == 1))).height
    false_positives = (df.filter((pl.col("true_label") == 0) & (pl.col("predicted_label") == 1))).height
    false_negatives = (df.filter((pl.col("true_label") == 1) & (pl.col("predicted_label") == 0))).height
    
    precision_recall = pl.DataFrame({'precision': true_positives / (true_positives + false_positives),\
            'recall': true_positives / (true_positives + false_negatives)})

    return precision_recall

In [20]:
precision_recall(label)

shape: (1, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ precision â”† recall â”‚
â”‚ ---       â”† ---    â”‚
â”‚ f64       â”† f64    â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ 0.715556  â”† 0.0386 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

**Exercise 89: Calculate the F1 score from `label_model`**

In [21]:
import polars as pl

def f1_score(df):
    """ Calculate the F1 score from a DataFrame with columns for true labels and predicted labels.
    
    Parameters
    ----------
    df : polars.DataFrame
        A DataFrame with columns 'true_label' and 'predicted_label'.
        
    Returns
    -------
    polars.DataFrame
        A DataFrame with the logarithmic loss.
    """
    true_positives  = (df.filter((pl.col("true_label") == 1) & (pl.col("predicted_label") == 1))).height
    false_positives = (df.filter((pl.col("true_label") == 0) & (pl.col("predicted_label") == 1))).height
    false_negatives = (df.filter((pl.col("true_label") == 1) & (pl.col("predicted_label") == 0))).height
    
    precision = true_positives / (true_positives + false_positives)
    recall    = true_positives / (true_positives + false_negatives)

    F1 = pl.DataFrame({'F1': 2 * (precision * recall) / (precision + recall)})
    
    return F1

In [22]:
f1_score(label)

shape: (1, 1)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ F1       â”‚
â”‚ ---      â”‚
â”‚ f64      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 0.073248 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜